<mat-card class="m-2">
  <mat-card-header class="title-form">
    <mat-card-title >DECRETO DE DOCUMENTO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="row"  >
      <div class="col-md-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>NUM.DE REGISTRO</mat-label>
          <input matInput disabled [(ngModel)]="idDocumento">
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider> -->

    <div class="row mt-2">
      <div class="col-md-12 mt-2">
        <strong style="margin-right: 5px;">DETALLES DE DECRETO</strong>
        <button mat-mini-fab color="primary" (click)="addDecreto()" aria-label="Example icon button with a delete icon">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <form [formGroup]="formParent" novalidate (ngSubmit)="operate()" >
      <div  formArrayName="decretos">
        <div *ngFor="let de of getCrl('decretos', formParent).controls; index as i">
          <div [formGroupName]="i" style="border: 2px; border-color: #675b45; border-style: dotted;
                                        border-radius: 10px;  margin-top: 3px;padding: 10px; ">
            <div class="alert alert-info alert-dismissible  mt-2 fade show" role="alert">
              <i class="fas fa-info-circle"></i>
              <strong style="margin-left: 5px;"> Número de decreto: {{i+1}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="remove(i)" ></button>
            </div>
            <div class="row mt-2" >
              <div class="col-md-4">
                <ng-select placeholder="ORGANIZACION REMITENTE" [virtualScroll]=true formControlName="destino"  class="example-full-width">
                    <mat-option>SELECCIONE</mat-option>
                    <ng-option *ngFor="let c of destinos" [value]="c" >{{c.acronimo}}</ng-option>
                </ng-select>
              </div>
              <div class="col-md-4" >
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>PRIORIDAD</mat-label>
                  <mat-select matInput formControlName="prioridad" >
                    <mat-option>SELECCIONE</mat-option>
                    <mat-option  *ngFor="let c of prioridades"  [value]="c">
                      {{c.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error>*Campo requerido</mat-error>
              </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>PLAZO LIMITE</mat-label>
                  <input matInput [matDatepicker]="dp" formControlName="fechaLimite">
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-label><strong style="margin-right: 5px; font-weight: 500;">LISTA DE ACCIONES</strong></mat-label>

                <!-- <div style="display: grid; grid-template-columns: auto auto auto; font-size: 15px; margin-left: 5px;">
                  <ng-container  *ngFor="let item of acciones"   >
                    <mat-checkbox     [value]="item.codigo"  (change)="onCheckboxChange(item.codigo, i)" formArrayName="acciones" style="font-size: 20px;">
                      {{ item.nombre }}
                    </mat-checkbox>
                  </ng-container>
                </div> -->
                <!-- <ng-select placeholder="LISTA DE ACCIONES" [multiple]="true" [virtualScroll]=true formControlName="acciones"  class="example-full-width">
                  <mat-option>SELECCIONE</mat-option>
                  <ng-option *ngFor="let c of acciones" [value]="c.codigo" >{{c.nombre}}</ng-option>
                </ng-select> -->
                <div style="display: grid; grid-template-columns: auto auto auto; margin-top: 5px;" >
                  <ng-container *ngFor="let accion of acciones;">
                    <label style="display: flex">
                      <input type="checkbox"  style="position: relative;left: 0px; opacity: 1; size: 20px;"
                        [value]="accion.codigo" name="group{{i+1 }}" />
                        <span style="margin-left: 3px;margin-right: 6px; font-weight: 400;  font-size: 18px;">
                          {{ accion.nombre | uppercase }}
                        </span>
                      </label>
                  </ng-container>
                </div>
              </div>
              <div class="col-md-12 mt-2">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>OBSERVACIONES</mat-label>
                  <textarea matInput rows="2" formControlName="observaciones" ></textarea>
              </mat-form-field>
              </div>
            </div>
            <!-- <mat-divider></mat-divider> -->
          </div>
        </div>
      </div>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="formParent.invalid && ultimoDecreto!=null" class="btn-opcion" > GUARDAR </button>
        <button mat-raised-button color="warn" type="button" routerLink="/principal/pendientes" class="btn-opcion" > CANCELAR </button>
      </mat-card-actions>
    </form>

  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="cargando" ></mat-progress-bar>
  </mat-card-footer>
</mat-card>
<!-- <div class="bg-warning p-2 text-dark bg-opacity-10 mw-100">{{formParent.value | json}}</div> -->
