<mat-card class="m-2">
<!-- /*class="container mt-4"*/ -->
    <mat-card-header>
      <mat-card-title>CREAR DOCUMENTO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="row g-3" [formGroup]="form" (ngSubmit)="operate()" novalidate >
            <div class="col-md-3">
                <!-- <mat-form-field appearance="fill" class="example-full-width"> -->
                    <!-- <mat-label>FIRMANTE</mat-label> -->
                    <!-- <input type="text" matInput formControlName="firmante" [matAutocomplete]="auto" [formControl]="firmanteControl"  >
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="showFirmantes" autoActiveFirstOption (optionSelected)="getIndicativo($event.option.value)" >
                        <mat-option *ngFor="let c of firmanteFilter$ |async" [value]="c"  >
                            {{ c.acronimo }}
                        </mat-option>
                    </mat-autocomplete> -->
                    <ng-select  [virtualScroll]=true formControlName="firmante" (change)="getIndicativo()" >
                      <ng-option *ngFor="let c of firmantes" [value]="c" >
                        {{c.nombreLargo}}
                      </ng-option>
                    </ng-select>
                    <div *ngIf="form.get('firmante').errors && form.get('firmante').dirty" class="mt-1" >
                      <small class="fw-bold text-danger text-uppercase" *ngIf="form.get('firmante').hasError('required')">*Campo requerido</small>
                    </div>
                <!-- </mat-form-field> -->
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>TIPO DOCUMENTO</mat-label>
                    <mat-select matInput formControlName="tipoDocumento" >
                      <mat-option>SELECCIONE</mat-option>
                      <mat-option  *ngFor="let c of clases"  [value]="c.codigo">
                        {{c.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error>*Campo requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>NÚMERO</mat-label>
                    <input matInput type="number" formControlName="nroCorrelativo"   >
                  </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>INDICATIVO</mat-label>
                    <input matInput type="text" formControlName="indicativo">
                    <mat-error ></mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <!--  appearance="fill" class="example-full-width">
                    <mat-label>UU. DESTINARIO(S):</mat-label>
                    <mat-select >
                      <mat-option  *ngFor="let c of organizacionesDestino"  [value]="c">
                        {{c.acronimo}}
                      </mat-option>
                    </mat-select>
                    <mat-error >Please choose an animal</mat-error>
                </mat-form-field> -->
                <ng-select [multiple]=true placeholder="SELECCIONE DESTINARIO(S)" [virtualScroll]=true formControlName="destinatarios"  >
                  <mat-option>SELECCIONE</mat-option>
                  <ng-option *ngFor="let c of organizacionesDestino" [value]="c.codigoInterno" >{{c.acronimo}}</ng-option>
                </ng-select>
                <div *ngIf="form.get('destinatarios').errors && form.get('destinatarios').dirty" class="mt-1" >
                      <small class="fw-bold text-danger text-uppercase" *ngIf="form.get('destinatarios').hasError('destinatarios')">*Campo requerido</small>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>COPIA INFORMATIVA</mat-label>
                    <mat-select >
                      <mat-option *ngFor="let c of copiasInformativas" [value]="c.codigoInterno">
                        {{c.acronimo}}
                      </mat-option>
                    </mat-select>
                    <mat-error >Please choose an animal</mat-error>
                </mat-form-field> -->
                <ng-select [multiple]=true placeholder="SELECCIONE COPIA(S) INFORMATIVA(S)" [virtualScroll]=true formControlName="copiaInformativa"  >
                  <mat-option>SELECCIONE</mat-option>
                  <ng-option *ngFor="let c of copiasInformativas" [value]="c.codigoInterno" >{{c.acronimo}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>ASUNTO</mat-label>
                    <textarea matInput formControlName="asunto" rows="3"></textarea>
                    <div *ngIf="form.get('asunto').errors && form.get('asunto').dirty" >
                      <small class="fw-bold text-danger text-uppercase" *ngIf="form.get('asunto').hasError('required')">* Field is required</small>
                      <small class="fw-bold text-danger text-uppercase" *ngIf="form.get('asunto').hasError('minlength')">** Min of 10 characters</small>
                    </div>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>OBSERVACIONES</mat-label>
                    <textarea matInput formControlName="observaciones" rows="3"></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-4 ">
                <button mat-flat-button color="primary" style="width: 50%; height: 100%;  height: 50px;" (click)="generarPlantilla()" >
                    <i class="far fa-file-word" style="font-size: 30px;"></i>
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">GUARDAR</button>
        <button mat-flat-button color="warn">CANCELAR</button>
    </mat-card-actions>
    <div class="bg-warning p-2 text-dark bg-opacity-10 mw-100">{{form.value | json}}</div>
</mat-card>


<!-- <ng-select [items]="organizacionesDestino"
           bindLabel="acronimo"
           bindValue="codigoInterno" [multiple]=true >
</ng-select> -->

<!-- <ng-select [multiple]=true >
  <ng-option *ngFor="let c of organizacionesDestino" [value]="c" >{{c.acronimo}}</ng-option>
</ng-select> -->
