<div class="container">
  <div class="service-wrapper">
    <div class="service">
      <h1>Perfiles asignados a su usuario</h1>
      <div class="cards">
        <div class="card">
          <i class="fa-brands fa-chromecast"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad magni enim qui, quae sit ex quasi. Debitis magnam ea laborum aliquid. Dignissimos quia officiis dicta distinctio quos, recusandae magni sapiente.</p>
        </div>
      </div>
    </div>
  </div>
</div>
