<form [formGroup]="formArchivar" (ngSubmit)="guardarAchivoForSuperADM()" novalidate>
  <mat-card class="m-2">
    <mat-card-header class="title-form">
      <mat-card-title >ARCHIVO MASIVO DE DOCUMENTOS</mat-card-title>
    </mat-card-header>
      <mat-card-content>
          <div class="row">
            <div class="col-7">
              <mat-card>
                  <mat-card-header>
                      <mat-card-title>Unidad a buscar</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-3">
                        <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>INGRESE CODIGO UNIDAD</mat-label>
                          <input matInput placeholder="INGRESE CODIGO DE UNIDAD"  formControlName="codigoUnidad"
                            (keypress)="validarNumero($event)" (keydown.enter)="getOrganizacion()"/>
                          <mat-hint align="start" *ngIf="campoIngresado?.length >= 2"
                            style="color: #06d76c; margin-bottom: 5px"><strong>Presione la tecla Enter</strong>
                          </mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field appearance="fill" class="example-full-width" style="margin-left: 5px">
                          <mat-label>Ingrese rango de fechas</mat-label>
                          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date" />
                            <input matEndDate formControlName="end" placeholder="End date" />
                          </mat-date-range-input>
                          <mat-hint>DD-MM-YYYY – DD-MM-YYYY</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-date-range-picker #picker></mat-date-range-picker>

                          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col align-content-center justify-content-evenly">
                        <button mat-flat-button color="primary" style="margin-left: 10px"
                        (click)="cargarDocumentos()" type="button">
                          <i class="fas fa-search"></i> PENDIENTES
                        </button>
                        <button mat-flat-button color="accent" style="margin-left: 10px" (click)="findParaParte()"  type="button">
                          <i class="fas fa-search"></i> POR FIRMAR
                        </button>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>UNIDAD OBTENIDA</mat-label>
                          <input matInput placeholder="UNIDAD OBTENIDA" disabled value="{{organizacionArchivar}}" />
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="col-12 mat-elevation-z8">
                      <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="Acciones">
                          <th mat-header-cell *matHeaderCellDef>Acciones</th>
                          <td mat-cell *matCellDef="let row"></td>
                        </ng-container>

                        <ng-container matColumnDef="Nro">
                          <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by codigo">
                            Nro. Registro
                          </th>
                          <td mat-cell *matCellDef="let row">{{ row.codigo }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Asunto">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by asunto">
                            Asunto
                          </th>
                          <td mat-cell *matCellDef="let row">{{ row.asunto }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Prioridad">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>
                            Prioridad
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <span class="badge text-bg-success" *ngIf="row.prioridad == 'NORMAL'">NORMAL</span>
                            <span class="badge text-bg-warning" *ngIf="row.prioridad == 'URGENTE'">URGENTE</span>
                            <span class="badge text-bg-danger" *ngIf="row.prioridad == 'MUY URGENTE'">MUY URGENTE</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Documento">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Documento
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.clase + " Nro. " + row.nroOrden }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="Origen">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Origen">
                            Origen
                          </th>
                          <td mat-cell *matCellDef="let row">{{ row.remitente }}</td>
                        </ng-container>

                        <ng-container matColumnDef="Destino">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Origen">
                            Destino
                          </th>
                          <td mat-cell *matCellDef="let row">{{ row.destinatario }}</td>
                        </ng-container>

                        <ng-container matColumnDef="FechaDoc.">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            FechaDoc.
                          </th>
                          <td mat-cell *matCellDef="let row">
                            {{ row.fechaDocumento | date : "dd-MM-yyyy" }}
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="4">Sin datos obtenidos...</td>
                        </tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
                  </mat-card-content>
                  <mat-card-actions align="start">

                  </mat-card-actions>
              </mat-card>

            </div>
            <div class="col-5">
              <mat-card>
                <mat-card-header>
                  <mat-card-title >Datos del solicitante</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>INGRESE NUMERO DE CIP DEL SOLICITANTE</mat-label>
                      <input matInput placeholder="INGRESE NUMERO DE CIP"
                        (keypress)="validarNumero($event)" (keydown.enter)="buscarPersona()" formControlName="cipSolicitante" />
                      <mat-hint align="start" *ngIf="CIPIngresado?.length >= 5"
                        style="color: #06d76c; margin-bottom: 5px"><strong>Presione la tecla Enter</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Nombre completo</mat-label>
                      <input matInput placeholder="NOMBRE COMPLETO DEL SOLICITANTE" value="{{nombreCompleado}}" disabled/>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>MOTIVO DE LA SOLICITUD</mat-label>
                      <textarea matInput rows="5" formControlName="observacion"></textarea>
                    </mat-form-field>
                  </div>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-flat-button color="primary" class="btn-opcion"
                  type="submit" [disabled]="formArchivar.invalid" >
                    <i class="fas fa-archive"></i> ARCHIVAR TODO
                  </button>
                  <button mat-flat-button color="warn" class="btn-opcion" type="button">
                    <i class="fas fa-ban"></i> CANCELAR
                  </button>
                </mat-card-actions>
              </mat-card>

            </div>
          </div>
          <div>
          </div>
          <!-- <div class="row">
            <div class="bg-success p-2 text-dark bg-opacity-10 mw-100">{{formArchivar.value | json}}</div>
          </div> -->
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="cargandoArchivado" ></mat-progress-bar>
      </mat-card-footer>
  </mat-card>

</form>
