<mat-card >
    <mat-card-header class="title-form">
        <mat-card-title >VALIDACIÓN DE CREDENCIALES</mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>INGRESE USUARIO</mat-label>
              <input matInput [(ngModel)]="usuario">
            </mat-form-field>
            <mat-form-field appearance="fill"  class="example-full-width">
              <mat-label>INGRESE CONTRASEÑA</mat-label>
              <input matInput type="password" [(ngModel)]="password">
              <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button> -->
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width" *ngIf="tipoOperacion>0">
              <mat-label>MOTIVO</mat-label>
              <input matInput [(ngModel)]="motivo">
            </mat-form-field>
            <button type = "submit" mat-raised-button color="primary" class="btn-opcion" (click)="validarCredenciales()" >VALIDAR Y ENTREGAR</button>
            <button type="button" style = "margin-left: 20px;" mat-raised-button color="accent" class="btn-opcion" (click)="close()">CANCELAR</button>

    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="cargando" ></mat-progress-bar>
    </mat-card-footer>
</mat-card>
