<mat-card class="m-2">
    <mat-card-title>Mantenimiento de usuario</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-4" >
          <mat-form-field appearance="fill"class="example-full-width" >
              <mat-label>Ingrese nro. CIP</mat-label>
              <input matInput placeholder="Ingrese número CIP ó DNI ó marbete" [(ngModel)]="campoIngresado" required (keydown.enter)="buscarPersona($event)">
              <mat-hint align="start" *ngIf="campoIngresado?.length>= 5" style="color: #06d76c; margin-bottom: 5px;"  ><strong>Presione la tecla Enter</strong> </mat-hint>
              <!-- <mat-error >x</mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Usuario chasqui</mat-label>
              <input matInput  [(ngModel)]="persona.correo_CHASQUI" disabled >
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Nombre completo</mat-label>
              <input matInput  [(ngModel)]="nombreCompleado" disabled>
          </mat-form-field>
      </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="https://net.ejercito.mil.pe/soporte" target="_blank" >Resetear Autentif.</a>

      <button mat-raised-button color="warn" style="margin-right: 3px;">Eliminar perfiles</button>
      <button mat-raised-button color="accent" (click)="limpiar()" >Limpiar</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="cargando" ></mat-progress-bar>
    </mat-card-footer>
</mat-card>

<mat-card class="m-2" >
    <mat-card-header>
        <mat-card-title>Perfiles asignados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese valor" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > # </th>
              <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="Descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
              <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="Rol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
              <td mat-cell *matCellDef="let row"> {{row.rol.nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="Organizacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Organizacion</th>
              <td mat-cell *matCellDef="let row"> {{row.organizacion.acronimo }} </td>
            </ng-container>


            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef > Acciones </th>
              <td mat-cell *matCellDef="let row">
                <div class="example-button-row">
                  <div class="example-flex-container">
                    <div class="example-button-container">
                      <button mat-mini-fab color="warn" (click)="eliminarPerfil(row.codigo)" >
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Sin datos obtenidos...</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"  aria-label="Select page of users"></mat-paginator>
        </div>
    </mat-card-content>
    <mat-card-actions align="start">
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="cargandoPerfil" ></mat-progress-bar>
    </mat-card-footer>
</mat-card>
