<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <h3 style="margin-left: 10px; font-weight: 600; font-size: 20px; align-items: center; padding-top: 20px;" class="permanent-marker-regular">
        SISTEMA DE GESTIÓN DOCUMENTARIO DEL EJÉRCITO
      </h3>
    </div>
    <div class="head-content-rigth">
      <div class="head-menu" >
        <div class="head-menu-item  mr-2" >
          <span class="badge text-bg-success m-3" >{{cargo}}</span>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <img [src]="'assets/Peru-Flag.png'" class="flag" alt="peru">
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple"
            data-bs-toggle="offcanvas" data-bs-target="#perfiles" aria-controls="perfiles">
            <i class="fas fa-users menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [matMenuTriggerFor]="menu">
          <div *ngIf="!cargando; else loadingTemplate">
            <img [src]="imagen" alt="user" class="user-avatar" *ngIf="imagen; else errorTemplate">
          </div>
          <ng-template #loadingTemplate>
            <div class="avatar-loading">Cargando...</div>
          </ng-template>
          <ng-template #errorTemplate>
            <img src="https://sisgedo.ejercito.mil.pe/assets/person.jpeg" alt="user" class="user-avatar">
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<app-perfiles >
</app-perfiles>

<mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/principal/my-profile" >
        <i class="fas fa-id-card-alt" style="margin-top: 5px; margin-right: 5px;  color: rgba(0, 0, 0, .54);
        max-height: 24px;
        max-width: 24px;"></i>
        <span>Ver Perfil</span>
      </button>
      <!-- <button mat-menu-item routerLink="/principal/groupEnvio" >
        <i class="fas fa-cog" style="margin-top: 5px; margin-right: 5px;  color: rgba(0, 0, 0, .54);
        max-height: 24px;
        max-width: 24px;"></i>
        <span>Configuraciones</span>
      </button> -->

      <button mat-menu-item  routerLink="/login">
        <i class="fas fa-sign-out-alt"  style="margin-top: 5px; margin-right: 5px;  color: rgba(0, 0, 0, .54);
        max-height: 24px;
        max-width: 24px;"></i>
        <span>Cerrar Sesión</span>
    </button>
</mat-menu>
