<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div class="normal-search">
          <input type="search" class="search" placeholder="Search...">
          <i class="fas fa-search search-icon"></i>
        </div>
      </div>
    </div>
    <div class="head-content-rigth">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <img [src]="'assets/Peru-Flag.png'" class="flag" alt="peru">
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fas fa-expand menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fas fa-bell menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img src="../../../assets/person.jpeg" alt="user" class="user-avatar">
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>