<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <!-- <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3 text-success">
          <li class="breadcrumb-item"><a >Principal</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav> -->
      <h3 style="margin-left: 10px; font-weight: 600; font-size: 20px; align-items: center; padding-top: 20px;" class="permanent-marker-regular">
        SISTEMA DE GESTIÓN DOCUMENTARIO DEL EJÉRCITO
      </h3>
    </div>
    <div class="head-content-rigth">
      <div class="head-menu" >
        <div class="head-menu-item  mr-2" >
          <span class="badge text-bg-success m-3" >{{cargo}}</span>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <img [src]="'assets/Peru-Flag.png'" class="flag" alt="peru">
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple"
            data-bs-toggle="offcanvas" data-bs-target="#perfiles" aria-controls="perfiles"
            >
            <!-- <i class="fas fa-th-large menu-icon"></i> -->
            <i class="fas fa-users menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [matMenuTriggerFor]="menu">
          <img src="https://sisgedo.ejercito.mil.pe/assets/person.jpeg" alt="user" class="user-avatar">
          <!-- <img src="./../../../assets/person.jpeg" alt="user" class="user-avatar"> -->
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="perfiles" >
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
      PERFIL DE INGRESO
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
  </div>

  <div class="offcanvas-body flipInZ" style="font-size: 14px;">
    <div>
      Usted actualmente cuenta con varios perfiles de ingreso. Seleccione uno:
    </div>
    <div class="dropdown-divider"></div>
    <div class="dropdown-menu-end user-dd animated  show" data-bs-popper="static">
      <ng-container *ngFor=" let perfil of perfiles; ">
          <a class="dropdown-item"  style="color: #5b5e62; margin: 15px 15px; cursor: pointer; display:flex; align-items:center;" (click)="seleccionarPerfil(perfil)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-user feather-sm text-info me-1 ms-1">
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
          <div style="margin-top: 5px;">{{perfil.nombre}} - {{perfil.organizacion.acronimo}}</div>
        </a>
      </ng-container>
    <div class="dropdown-divider"></div>
      <div class="pl-4 p-2">
        <a data-bs-dismiss="offcanvas" class="btn d-block w-100 btn-primary rounded-pill" >Continuar</a>
      </div>
    </div>
  </div>

</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item >
    <mat-icon>assignment_ind</mat-icon>
    <span>Ver Perfil</span>
  </button>
  <button mat-menu-item  routerLink="/login">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesión</span>
  </button>
</mat-menu>
