<div class="container-fluid mt-2" style="height: 90%;">
  <mat-card style="height: 100%;">
    <!-- <mat-card-title>Visualizacion de documento</mat-card-title> -->
    <mat-card-content style="height: 100%;">
      <div class="row" style="height: 100%;">
        <div  class="col-10"  >
          <iframe id="embeddedPage" style="width: 100%; height: 100%; border: 1px solid black; border-radius: 5px;" *ngIf="!errorPDF" ></iframe>
          <div  style="width: 100%; height: 100%; border: 1px solid black;
                  border-radius: 5px; align-items: center; align-content: center;
                  text-align: center; " *ngIf="errorPDF">
            <i class="fas fa-exclamation-triangle" style="color: red;" ></i>
            <strong style="font-size: 12px;"> Error en PDF!</strong>
          </div>
        </div>
        <div class="col-2 mt-1 ">
          <div class="card text-bg-dark mb-3" style="width: 100%; height: 80%;">
            <div class="card-header">ACCIONES</div>
            <div class="card-body">
              <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-success" type="button" [routerLink]="['/principal/decretar', idDocumento]">
                  <i class="fas fa-calendar-day"></i><span> DECRETAR</span>
                </button>
                <button class="btn btn-outline-info" type="button" [routerLink]="['/principal/derivar', idDocumento]" >
                  <i class="fas fa-exchange-alt"></i> DERIVAR
                </button>
                <button class="btn btn-warning" type="button" [routerLink]="['/principal/archivar', idDocumento]">
                  <i class="fas fa-archive"></i> ARCHIVAR
                </button>
                <button class="btn btn-secondary" type="button"  [routerLink]="['/principal/devolver', idDocumento]">
                  <i class="fas fa-undo-alt"></i> DEVOLVER
                </button>
                <button class="btn btn-info" type="button" (click)="verSeguimiento(idDocumento)" >
                  <i class="fas fa-archive"></i> SEGUIMIENTO
                </button>
                <button class="btn btn-primary" type="button" >
                  <i class="fas fa-file-import"></i> DAR RESPUESTA
                </button>
                <button class="btn btn-danger" type="button" routerLink="/principal" >
                  <i class="fas fa-archive"></i> SALIR
                </button>
              </div>
              <!-- <div class="example-button-row" >
                <button type="button" class="btn btn-success form-control d-flex justify-content-center align-items-center"  >
                  <i class="fas fa-calendar-day"></i><span>Decretar</span>
                </button>
                <button mat-raised-button class="form-control d-flex justify-content-center align-items-center"
                        color="primary" [routerLink]="['/archivar', idDocumento]">
                  <i class="fas fa-archive"></i> Archivar
                </button>
                <button mat-raised-button class="form-control" color="accent" (click)="devolver(idDocumento)" >Devolver</button>
                <button type="button" class="btn btn-secondary form-control" >Seguimiento</button>
                <button mat-raised-button class="form-control" color="warn" routerLink="/" >Salir</button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
  </mat-card-content>
  </mat-card>
</div>

