<mat-stepper [linear]="true" #stepper orientation="vertical" style="border-radius: 15px; margin: 5px;">
  <mat-step [stepControl]="listaFormGroup">
    <form [formGroup]="listaFormGroup">
      <ng-template matStepLabel>Lista de Documentos</ng-template>
          <table mat-table [dataSource]="dataSource" matSort >

            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="Asunto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >ASUNTO</th>
              <td mat-cell *matCellDef="let row"> {{row.asunto}} </td>
            </ng-container>

            <ng-container matColumnDef="Documento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >DOCUMENTO</th>
              <td mat-cell *matCellDef="let row"> {{row.tipoDocumento}} </td>
            </ng-container>

            <ng-container matColumnDef="Remitente">
              <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header>REMITENTE</th>
              <td mat-cell *matCellDef="let row"> {{row.remitente}} </td>
            </ng-container>

            <ng-container matColumnDef="Destino">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>DESTINO</th>
              <td mat-cell *matCellDef="let row"> {{row.dependenciaDestino}} </td>
            </ng-container>

            <ng-container matColumnDef="Folio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >FOLIO</th>
              <td mat-cell *matCellDef="let row"> {{row.folio }} </td>
            </ng-container>

            <ng-container matColumnDef="CodigoFacilita">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>COD FACILITA</th>
              <td mat-cell *matCellDef="let row"> {{row.codigoFacilita}} </td>
            </ng-container>

            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef > Acciones </th>
              <td mat-cell *matCellDef="let row">
              <div class="example-button-row">
                  <div class="example-flex-container">
                  <div class="example-button-container">
                      <button mat-flat-button color="primary" class="m-2" (click)="seleccionarDocumento(row)" >
                        <i class="far fa-newspaper"  ></i> VER DOC.
                      </button>
                  </div>
                  </div>
              </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Sin datos obtenidos...</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[ 10, 15, 25, 100]"></mat-paginator>
        <div class="mt-2">
          <button mat-flat-button color="primary"  matStepperNext [disabled]="!listaFormGroup.valid">Siguiente</button>
        </div>
    </form>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup" *ngIf="files!=null">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Documentos Adjuntados</ng-template>
          <mat-card>
            <mat-card-content>
            <div class="row">
              <div class="col-6">
                <span>Documento seleccionado: <strong style="font-weight: 600;"> {{documento.asunto | uppercase}}</strong> </span>
                <div class="file-list mt-2" >
                  <div *ngIf="files?.length && archivos?.controls; else null">
                    <div *ngFor="let archivo of files; let i = index" class="file-item">
                      <mat-checkbox (change)="onCheckboxChange($event, archivo.id)">
                        {{ archivo.name }}
                      </mat-checkbox>
                      <div class="actions">
                        <button mat-flat-button color="primary" >
                          Ver
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-6">
                <ng-select  [virtualScroll]=true formControlName="prioridad" placeholder="PRIORIDAD DEL DOC."
                          notFoundText="Sin elementos encontrados" >
                          <ng-option *ngFor="let item of prioridades" [value]="item.codigo" >
                            {{item.nombre}}
                          </ng-option>
                </ng-select>
                <ng-select  placeholder="ENTREGAR A" [multiple]="true" formControlName="organizacion" >
                  <mat-option>SELECCIONE</mat-option>
                  <ng-option *ngFor="let c of destinos" [value]="c.codigoInterno"  >{{c.acronimo}}</ng-option>
                </ng-select>
              </div>
            </div>
            </mat-card-content>
          </mat-card>
    </form>
    <div class="mt-2">
      <button mat-flat-button color="accent" matStepperPrevious>Regresar</button>
      <button mat-flat-button color="primary"  matStepperNext [disabled]="secondFormGroup.invalid" >Siguiente</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Detalles</ng-template>
    <mat-card>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </mat-step>
</mat-stepper>


<div class="bg-success p-2 text-dark bg-opacity-10 mw-100">{{listaFormGroup.value | json}}</div>
<div class="bg-success p-2 text-dark bg-opacity-10 mw-100" *ngIf="files.length>0">{{secondFormGroup.value | json}}</div>
