<mat-card class="m-2">
  <mat-card-title>Mantenimiento de unidades</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-4">
        <mat-form-field appearance="fill" class="example-full-width" >
          <mat-label>Tipo busqueda</mat-label>
          <mat-select (selectionChange)="loadTable(0,20);" [(ngModel)]="itemSeleccionado">
            <mat-option *ngFor="let item of tipoBusqueda" [value]="item.id" >
              {{item.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-8">
        <mat-form-field appearance="fill" class="example-full-width" style="margin-left: 2px;">
          <mat-label>INGRESE CODIGO DE UNIDAD O NOMBRE ACRONIMO/COMPLETO</mat-label>
          <input matInput placeholder="INGRESE CODIGO DE UNIDAD O NOMBRE ACRONIMO/COMPLETO">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="m-2">
  <mat-card-title>Unidades encontradas</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese valor" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort >

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef  > # </th>
          <td mat-cell *matCellDef="let row"> {{row.vid}} </td>
        </ng-container>

        <ng-container matColumnDef="COD.INTERNO">
          <th mat-header-cell *matHeaderCellDef >COD. INTERNO</th>
          <td mat-cell *matCellDef="let row"> {{row.codigoInterno}} </td>
        </ng-container>

        <ng-container matColumnDef="ACRONIMO">
          <th mat-header-cell *matHeaderCellDef >ACRONIMO</th>
          <td mat-cell *matCellDef="let row"> {{row.acronimo }} </td>
        </ng-container>

        <ng-container matColumnDef="NOMBRE-COMPLETO">
          <th mat-header-cell *matHeaderCellDef >NOMBRE COMPLETO</th>
          <td mat-cell *matCellDef="let row"> {{row.nombreLargo }} </td>
        </ng-container>


        <ng-container matColumnDef="ACCIONES">
          <th mat-header-cell *matHeaderCellDef > Acciones </th>
          <td mat-cell *matCellDef="let row">
            <div class="example-button-row">
              <div class="example-flex-container">
                <div class="example-button-container">
                  <button mat-mini-fab color="primary" (click)="imprimirListaPersonal(row.codigoInterno, false, row.acronimo)" >
                    <i class="fas fa-users"></i>
                  </button>
                  <button mat-mini-fab color="accent" *ngIf="itemSeleccionado<3" >
                    <i class="fas fa-thumbs-up" ></i>
                  </button>
                  <button mat-mini-fab color="accent" *ngIf="itemSeleccionado==4" (click)="desactivarEMU(row.codigoInterno)" >
                    <i class="fas fa-thumbs-down" ></i>
                  </button>
                  <button mat-mini-fab style="background: rgba(25, 135, 84); color: #fff; " [matMenuTriggerFor]="menu">
                    <i class="fas fa-user-secret"></i>
                  </button>
                  <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="addPerfil(row.codigoInterno, '004')">
                    <span>ADMINISTRADOR</span>
                  </button>
                  <button mat-menu-item (click)="addPerfil(row.codigoInterno, '002')">
                    <span>ACCIDENTAL</span>
                  </button>
                  <button mat-menu-item (click)="addPerfil(row.codigoInterno, '001')">
                    <span>MESA DE PARTES</span>
                  </button>
                </mat-menu>
                  <button mat-mini-fab color="warn" >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Sin datos obtenidos...</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[20,50, 100]" [length]="totalElements" (page)="showMore($event)"
        [pageSize]="pageSize" aria-label="Select page of users" showFirstLastButtons>
      </mat-paginator>
    </div>
</mat-card-content>
</mat-card>
