<mat-card class="m-2">
  <mat-card-header class="title-form">
    <mat-card-title >REGISTRAR NUEVO DOCUMENTO</mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <mat-stepper #stepper >
        <mat-step [stepControl]="firstFormGroup" >
            <form [formGroup]="firstFormGroup" (ngSubmit)="operate()" novalidate >
                <ng-template matStepLabel>Datos generales</ng-template>
                <div class="row">         
                  <input type="file" (change)="selectArchivoPrincipal($event)" style="display: none" id="btnFileUpload213"  accept="application/pdf" />         
                  <div class="col-sm-12 col-lg-6">

                    <div class="row mt-4">
                      <div class="col-6">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>TIPO REMITENTE</mat-label>
                            <mat-select formControlName="tipoOrganizacion" (selectionChange)="getOrganizaciones($event.value)">
                              <mat-option>SELECCIONE</mat-option>
                              <mat-option  *ngFor="let c of listaTipoOrganizacion"  [value]="c.codigo" >
                                {{c.nombre}}
                              </mat-option>
                            </mat-select>
                            <div *ngIf="firstFormGroup.get('tipoOrganizacion').errors && firstFormGroup.get('tipoOrganizacion').dirty" >
                                <small class="fw-bold text-danger text-uppercase" *ngIf="firstFormGroup.get('tipoOrganizacion').hasError('required')">* Campo requerido</small>
                            </div>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <ng-select placeholder="ORGANIZACION REMITENTE" [virtualScroll]=true formControlName="organizacionRemitente"   >
                            <mat-option>SELECCIONE</mat-option>
                            <ng-option *ngFor="let c of remitentes" [value]="c.codigoInterno" >{{c.acronimo}}</ng-option>
                          </ng-select>
                          <div *ngIf="firstFormGroup.get('organizacionRemitente').errors && firstFormGroup.get('organizacionRemitente').dirty" >
                            <mat-error *ngIf="firstFormGroup.get('organizacionRemitente').hasError('required')">* Campo requerido</mat-error>
                          </div>

                      </div>
                      <div class="col-4">
                        <ng-select placeholder="TIPO DOCUMENTO" [virtualScroll]=true formControlName="tipoDocumento"   >
                            <mat-option>SELECCIONE</mat-option>
                            <ng-option *ngFor="let c of clases" [value]="c.codigo" >{{c.nombre}}</ng-option>
                          </ng-select>
                          <div *ngIf="firstFormGroup.get('tipoDocumento').errors && firstFormGroup.get('tipoDocumento').dirty" >
                            <small class="fw-bold text-danger text-uppercase" *ngIf="firstFormGroup.get('tipoDocumento').hasError('required')">* Campo requerido</small>
                        </div>
                      </div>
                      <div class="col-4">
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>NRO. DOCUMENTO</mat-label>
                              <input matInput type="text" formControlName="nroDocumento"    >
                              <div *ngIf="firstFormGroup.get('nroDocumento').errors && firstFormGroup.get('nroDocumento').dirty" >
                                  <small class="fw-bold text-danger text-uppercase" *ngIf="firstFormGroup.get('nroDocumento').hasError('required')">* Campo requerido</small>
                              </div>
                            </mat-form-field>
                      </div>
                      <div class="col-4">
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>INDICATIVO</mat-label>
                              <input matInput type="text"  formControlName="indicativo"  >
                            </mat-form-field>
                      </div>
                      <div class="col-12">
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>REMITENTE</mat-label>
                              <input matInput type="text"  formControlName="remitente"  >
                          </mat-form-field>
                      </div>
                      <div class="col-6">
                          <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Fecha Documento</mat-label>
                            <input matInput [matDatepicker]="dp" formControlName="fechaDocumento">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                          </mat-form-field>
                        </div>
                      <div class="col-6">
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>PRIORIDAD</mat-label>
                              <mat-select matInput formControlName="prioridad"  >
                                <mat-option>SELECCIONE</mat-option>
                                <mat-option  *ngFor="let c of prioridades"  [value]="c.codigo">
                                  {{c.nombre}}
                                </mat-option>
                              </mat-select>
                              <mat-error>*Campo requerido</mat-error>
                          </mat-form-field>
                      </div>

                    <!-- <div class="col-6">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>FOLIO</mat-label>
                            <input matInput type="text" formControlName="folio"   >
                        </mat-form-field>
                    </div> -->
                      <div class="col-md-12">
                          <mat-form-field appearance="fill" class="example-full-width">
                              <mat-label>ASUNTO</mat-label>
                              <textarea matInput rows="3" formControlName="asunto" ></textarea>
                              <!-- <div *ngIf="form.get('asunto').errors && form.get('asunto').dirty" >
                                <small class="fw-bold text-danger text-uppercase" *ngIf="form.get('asunto').hasError('required')">* Campo requerido</small>
                                <small class="fw-bold text-danger text-uppercase" *ngIf="form.get('asunto').hasError('minlength')">** Min of 10 characters</small>
                              </div> -->
                          </mat-form-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12"  >
                        <div class="wrapper" (click)="agregarArchivo()" >
                          <mat-label>DOCUMENTO PRINCIPAL</mat-label>
                          <div class="form">
                              <i class="fas fa-cloud-upload-alt"></i>
                              <p>Browse File to Upload</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-sm-12 col-lg-6" >
                    <iframe id="documentoPrincipal" style="width: 100%; height: 100%; margin-top: 5px; border: 1px solid black; border-radius: 5px;"></iframe>
                  </div>
                </div>
                <mat-card-actions align="end">
                  <button  class="btn btn-outline-primary mr-2" type="submit" [disabled]="firstFormGroup.invalid">GUARDAR DOCUMENTO</button>
                  <button class="btn btn-outline-danger mr-2" type="button" [routerLink]="['/principal/recibir-documento']" >CANCELAR </button>
                </mat-card-actions>
              </form>
              <div class="mt-2">
                <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
              </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup"  >
            <form [formGroup]="secondFormGroup" style="height: 550px;">
                <ng-template matStepLabel>Anexos/Otros (Opcional)</ng-template>
                <div class="row">
                  <div class="col-md-12">
                    <ng-select [multiple]=true placeholder="SELECCIONE DESTINARIO(S)" [virtualScroll]=true formControlName="destinos" >
                        <mat-option>SELECCIONE</mat-option>
                        <ng-option *ngFor="let c of organizacionesDestino" [value]="c.codigoInterno" >{{c.acronimo}}</ng-option>
                      </ng-select>
                  </div>
                  <div class="col-md-12" *ngIf="this.secondFormGroup.value['destinos'].length>0">
                    <ng-select [multiple]=true placeholder="SELECCIONE COPIA(S) INFORMATIVA(S) (OPCIONAL)" [virtualScroll]=true formControlName="copiasInformativas" >
                      <mat-option>SELECCIONE</mat-option>
                      <ng-option *ngFor="let c of copiasInformativas" [value]="c.codigoInterno" >{{c.acronimo}}</ng-option>
                    </ng-select>
                  </div>
                  <div class="col-xs-3 col-sm-6 col-md-12"  >
                    <div class="wrapper">
                        <mat-label>ANEXOS</mat-label>
                      <div class="form">
                          <i class="fas fa-cloud-upload-alt"></i>
                          <p>Browse File to Upload</p>
                      </div>
                    </div>
                  </div>
                </div>
              
              <div>
                <button mat-raised-button color="warn"  matStepperPrevious>Regresar</button>
                <button mat-raised-button  color="accent" matStepperNext (click)="stepper.reset()">Limpiar</button>
              </div>
            </form>
        </mat-step>
    </mat-stepper>
    
  
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="cargando" ></mat-progress-bar>
    </mat-card-footer>
</mat-card>
