<div class = "bootstrap-wrapper ">
    <div class = "container ">
      <div class = "row mt-5">
        <div class = "col-md-6 offset-md-3">
            <div class = "container text-center">
              <img src="./../../../assets/person.jpeg" width = "100" height = "100" style="border-radius: 10px;">
            </div>

            <h1 class = "text-center">Inicio de sesión</h1>
              <div class = "container text-center">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>INGRESE USUARIO</mat-label>
                  <input matInput [(ngModel)]="username">
                </mat-form-field>
                <mat-form-field appearance="fill"  class="example-full-width">
                  <mat-label>INGRESE CONTRASEÑA</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <button type = "submit" mat-raised-button color="primary" (click)="login()" >INICIAR SESIÓN</button>
                <button type="reset" style = "margin-left: 20px;" mat-raised-button color="accent">LIMPIAR</button>
              </div>
        </div>
      </div>
    </div>
</div>
