.mat-column-Destino {
  padding-left: 16px;
  padding-right: 16px;
  width: 10%;
}

.mat-column-Origen{
  padding-left: 16px;
  padding-right: 16px;
  width: 10%;
}


.mat-column-Asunto{
  padding-left: 16px;
  padding-right: 16px;
  width: 40%;
}


.mat-column-Nro{
  padding-left: 16px;
  padding-right: 16px;
  width: 5%;
}
