<mat-card class="min-vh-100">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-lg-9">
        <div class="tabset min-vh-100">
          <!-- Tab 1 -->
          <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
          <label for="tab1">RESPUESTA</label>
          <!-- Tab 2 -->
          <input type="radio" name="tabset" id="tab3" aria-controls="referencia" *ngIf="documentoRespuesta!=null">
          <label for="tab3" *ngIf="documentoRespuesta!=null">REFERENCIA</label>
          <!-- Tab 3 -->
          <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
          <label for="tab2">ANEXOS</label>

          <div class="tab-panels">
            <section id="marzen" class="tab-panel">
              <div class="row min-vh-100">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 min-vh-100">
                  <iframe id="documentoRespuesta"
                    style="width: 100%; min-height: 100%;  border: 1px solid black; border-radius: 5px;"
                    *ngIf="!errorPDF">
                  </iframe>
                  <div *ngIf="errorPDF" style="width: 100%; height: 100%; border: 1px solid black;
                              border-radius: 5px; display: flex;
                              justify-content: center; align-items: center;" class="min-vh-100">
                    <i class="fas fa-exclamation-triangle" style="color: red;"></i>
                    <strong style="font-size: 12px; margin-left: 10px;">¡Error en PDF!</strong>
                  </div>
                </div>
              </div>
            </section>
            <section id="referencia" class="tab-panel" *ngIf="documentoRespuesta!=null">
              <div class="row min-vh-100">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 min-vh-100">
                  <iframe id="documentoReferencia"
                    style="width: 100%; min-height: 100%;  border: 1px solid black; border-radius: 5px;"
                    *ngIf="!errorPDFReferencia"></iframe>
                  <div style="width: 100%; height: 100%; border: 1px solid black;
                              border-radius: 5px; display: flex;
                              justify-content: center; align-items: center;" class="min-vh-100"
                    *ngIf="errorPDFReferencia">
                    <i class="fas fa-exclamation-triangle" style="color: red;"></i>
                    <strong style="font-size: 12px;"> Error en PDF!</strong>
                  </div>
                </div>
              </div>
            </section>
            <section id="rauchbier" class="tab-panel">
              <mat-selection-list #shoes [multiple]="false" *ngIf="anexos?.length>0">

                <div mat-subheader>Anexos adjuntados en la referencia</div>
                <mat-list-option *ngFor="let item of anexos" (click)="descargarAnexo(item)">
                  <i class="far fa-file-archive" style="size: 32px;"></i>
                  <div mat-line>{{item.url}}</div>
                  <div mat-line> {{item.fechaCreacion| date}} </div>
                </mat-list-option>
              </mat-selection-list>

              <div class="col-md-12 mt-2 alert alert-info" *ngIf="anexos?.length == 0 || anexos == null">
                Sin anexos de referencia!
              </div>

              <mat-selection-list #shoes [multiple]="false" *ngIf="anexosRespuesta?.length>0">

                <div mat-subheader>Anexos adjuntados en la respuesta</div>
                <mat-list-option *ngFor="let item of anexosRespuesta" (click)="descargarAnexo(item)">
                  <i class="far fa-file-archive" style="size: 32px;"></i>
                  <div mat-line>{{item.url}}</div>
                  <div mat-line> {{item.fechaCreacion| date}} </div>
                </mat-list-option>
              </mat-selection-list>

              <div class="col-md-12 mt-2 alert alert-warning"
                *ngIf="anexosRespuesta?.length == 0 || anexosRespuesta == null">
                Sin anexos de respuesta!
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 mt-1 ">
        <div class="card mb-3" style="width: 100%; height: 100%;">
          <div class="card-header">ACCIONES</div>
          <div class="card-body">
            <div class="d-grid gap-2 col-12 mx-auto">
              <input type="file" (change)="seleccionarDocumento($event)" id="updateWord" style="display: none;"
                accept="application/msword, application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

              <button mat-flat-button color="warn" (click)="descargarWordDocumento()" *ngIf="existeWord>0 && !descargo">
                <i class="fas fa-file-download"></i><span> DESCARGAR Y CORREGIR </span>
              </button>
              <button mat-flat-button color="primary" *ngIf="mostrarDistribuir" (click)="distribuir()">
                <i class="fas fa-paper-plane"></i><span> DISTRIBUIR</span>
              </button>
              <button mat-flat-button color="primary" (click)="firmarDocumento()">
                <i class="fas fa-file-signature"></i><span> FIRMAR</span>
              </button>
              <button mat-flat-button color="primary" *ngIf="!mostrarDistribuir" (click)="elevarDocumento()">
                <i class="fas fa-hand-point-up"></i> ELEVAR
              </button>

              <button mat-flat-button style="background: #157347; color: #fff;" (click)="eventClick()">
                <i class="fas fa-redo-alt"></i><span> REEMPLAZAR </span>
              </button>

              <button mat-flat-button class="btn-war" (click)="abrirModal()">
                <i class="fas fa-stream"></i><span> ENVIAR A CORREGIR </span>
              </button>
              <button mat-flat-button color="accent" routerLink="/principal/parte-diario">
                <i class="fas fa-stop-circle"></i> CANCELAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
  </mat-card-footer>
</mat-card>