table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

th{
  font-weight: 600;
  font-size: 15px;
  color: black;
  text-align: center;
}


.mat-column-Nro{
  width: 32px;
  text-align: center;
}

.mat-column-Asunto {
  width: 50%;
  padding: 10px 10px;
}

.mat-column-Prioridad {
  width:5%;
}

.mat-column-Acciones{
  width: 10%;
  align-items: center;

}
