<div class="row">
  <div class="col-12">
    <mat-card class="m-2" style="border-radius: 10px;">
      <!-- <mat-card-header class="title-form">
        <mat-card-title >BUSCAR DOCUMENTO</mat-card-title>
      </mat-card-header> -->
      <mat-card-content>
        <div class="tabset" >
          <!-- Tab 1 -->
          <input type="radio" name="tabset" id="tab1" aria-controls="entreFechas" checked>
          <label for="tab1">BUSQUEDA ENTRE FECHAS</label>
          <!-- Tab 2 -->
          <!-- <input type="radio" name="tabset" id="tab2" aria-controls="porFecha">
          <label for="tab2">BUSQUEDA POR DIA</label> -->

          <input type="radio" name="tabset" id="tab3" aria-controls="texto">
          <label for="tab3">BUSQUEDA POR TEXTO</label>
          <div class="tab-panels" >
            <section id="entreFechas" class="tab-panel">
			        <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>Ingrese rango de fechas</mat-label>
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                      </mat-date-range-input>
                      <mat-hint>DD-MM-YYYY – DD-MM-YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>

                      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6 align-content-center justify-content-evenly">
                  <button mat-flat-button color="primary" style="margin-right: 5px;"  (click)="betweenFechas()" >
                    <i class="fas fa-search"></i> BUSCAR </button>
                  <!-- <mat-divider class="m-2" ></mat-divider> -->
                  <button mat-flat-button style="background: rgba(25, 135, 84); color: #fff; " >
                    <i class="fas fa-file-excel"></i> EXPORTAR A EXCEL</button>
                </div>

              </div>
            </section>
            <!-- <section id="porFecha" class="tab-panel">
              <div class="row ">
                <div class="col-6">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Ingrese fecha</mat-label>
                    <input matInput [matDatepicker]="datepicker" >
                    <mat-hint>DD-MM-YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-6 align-content-center justify-content-evenly">
                  <button mat-flat-button color="primary" style="margin-right: 5px;"  >
                    <i class="fas fa-search"></i> BUSCAR </button>
                  <button mat-flat-button style="background: rgba(25, 135, 84); color: #fff; "  >
                    <i class="fas fa-file-excel"></i> EXPORTAR A EXCEL</button>
                </div>
              </div>
            </section> -->
            <section id="texto" class="tab-panel">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Ingrese dato</mat-label>
                    <input matInput placeholder="Ingrese nro de registro o asunto o documento"  [(ngModel)]="textoIngresado" >
                  </mat-form-field>
                </div>
                <div class="col-6 align-content-center justify-content-evenly">
                  <button mat-flat-button color="primary" style="margin-right: 5px;"  (click)="byTexto()" >
                    <i class="fas fa-search"></i> BUSCAR </button>
                </div>
              </div>
            </section>
            </div>
        </div>
      </mat-card-content>
      </mat-card>
  </div>
  <div class="col-xs-12 col-sm-12 col-lg-12" *ngIf="!cargando">
    <mat-card class="m-2" >
      <mat-card-header class="title-form">
        <mat-card-title >LISTA DE DOCUMENTOS</mat-card-title>
      </mat-card-header>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese valor" #input>
      </mat-form-field>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="tbDecretados" >
          <ng-container matColumnDef="Prioridad">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef> Prioridad </th>
            <td mat-cell *matCellDef="let row" >
              <!-- <span class="badge rounded-pill text-bg-primary " style="font-size: 12px;" *ngIf="row.estadoDocumento=='REMITIDO'" >REMITIDO</span>
              <span class="badge rounded-pill text-bg-danger" style="font-size: 12px;" *ngIf="row.estadoDocumento=='FINALIZADO'" >FINALIZADO</span>
              <span class="badge rounded-pill text-bg-success" style="font-size: 12px;" *ngIf="row.estadoDocumento=='DECRETADO' || row.estadoDocumento=='ENVIADO'" >{{row.estadoDocumento}}</span>
              <span class="badge rounded-pill text-bg-dark" style="font-size: 12px;" *ngIf="row.estadoDocumento=='POR FIRMAR'">POR FIRMAR</span>
              <span class="badge rounded-pill text-bg-warning" style="font-size: 12px;" *ngIf="row.estadoDocumento=='ARCHIVO'">ARCHIVADO</span>
              <span class="badge rounded-pill text-bg-info" style="font-size: 12px;" *ngIf="row.estadoDocumento=='RECIBIDO'">RECIBIDO</span>
              <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px;" *ngIf="row.estadoDocumento=='POR REVISAR'">POR REVISAR</span> -->
              <span class="badge text-bg-success" *ngIf="row.prioridad=='NORMAL'">NORMAL</span>
              <span class="badge text-bg-warning" *ngIf="row.prioridad=='URGENTE'">URGENTE</span>
              <span class="badge text-bg-danger" *ngIf="row.prioridad=='MUY URGENTE'">MUY URGENTE</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Nro">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef> Nro. Registro </th>
            <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
          </ng-container>

          <ng-container matColumnDef="Asunto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Asunto">Asunto</th>
            <td mat-cell *matCellDef="let row"> {{row.asunto}} </td>
          </ng-container>

          <ng-container matColumnDef="Documento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
            <td mat-cell *matCellDef="let row"> {{row.clase + ' Nro. ' + row.nroOrden }} </td>
          </ng-container>

          <ng-container matColumnDef="Origen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Origen">Origen</th>
            <td mat-cell *matCellDef="let row"> {{row.remitente }} </td>
          </ng-container>

          <ng-container matColumnDef="Decretado a.">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Origen">Destino</th>
            <td mat-cell *matCellDef="let row"> {{row.llegada }} </td>
          </ng-container>

          <ng-container matColumnDef="FechaDoc.">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaDoc.</th>
            <td mat-cell *matCellDef="let row"> {{row.fechaDocumento |date:"dd-MM-yyyy"}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="FechaReg.">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FechaReg.</th>
            <td mat-cell *matCellDef="let row"> {{row.fechaActual |date:"dd-MM-yyyy"}} </td>
          </ng-container> -->

          <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef > Acciones </th>
            <td mat-cell *matCellDef="let row">
              <div class="d-grid gap-2 mx-auto">
                  <button mat-flat-button  color="primary" class="mt-2"  (click)="openDialog(row)" >
                    <i class="far fa-file-pdf" ></i> VER DOCUMENTO
                  </button>
                  <div class="btn-group">
                    <button mat-flat-button style="background: rgba(25, 135, 84); color: #fff; " type="button"  (click)="viewSeguimiento(row.codigo)">
                      <i class="fas fa-info-circle"></i> SEGUIMIENTO
                    </button>
                    <button mat-flat-button style="background: rgba(25, 135, 84); color: #fff; " type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item"  (click)="viewSeguimiento(row.codigo)">REPORTE</a></li>
                      <li><a class="dropdown-item" (click)="viewTimeline(row.codigo)">GRAFICA</a></li>
                    </ul>
                  </div>

                  <button mat-flat-button  color="accent" class="mb-2" (click)="verRespuesta(row.codigo, row.observacion)" *ngIf="row.tieneRespuesta>0" >
                    <i class="far fa-file-pdf" ></i> VER RESPUESTA/FIRMA
                  </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sin datos obtenidos...</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]"  aria-label="Select page of users"></mat-paginator>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="cargando" ></mat-progress-bar>
    </mat-card-footer>
    </mat-card>
  </div>
  <div class="container loader" *ngIf="cargando"></div>
</div>


