
<mat-card >
  <mat-card-content >
    <div class="row" >
      <div class="col-sm-12 col-lg-7"  >
        <iframe id="embeddedPage" style="width: 100%; height: 100%" *ngIf="!errorPDF"></iframe>
        <div  style="width: 100%; height: 100%; border: 1px solid black;
              border-radius: 5px; align-items: center; align-content: center;
              text-align: center; " *ngIf="errorPDF">
        <i class="fas fa-exclamation-triangle" style="color: red;" ></i>
        <strong style="font-size: 12px;"> Error en PDF!</strong>
      </div>
      </div>
      <div class="col-sm-12 mt-sm-3 col-lg-5" >
        <mat-card-header>
          <mat-card-title>CORREGIR DOCUMENTO </mat-card-title>
        </mat-card-header>
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="DATOS DE CORRECION">
                <!-- <mat-form-field  appearance="fill" class="mt-2">
                  <mat-label>CODIGO DE DOCUMENTO</mat-label>
                  <input matInput disabled value="{{vidDocumento}}">
                </mat-form-field> -->
                <div class="col-12" style="max-height: 200px; overflow-y: auto;">
                  <mat-list>
                    <div mat-subheader>Correciones registradas</div>
                    <mat-list-item *ngFor="let item of correciones" class="mb-2" >
                      <mat-icon mat-list-icon>chat</mat-icon>
                      <div mat-line style="white-space: normal; word-wrap: break-word;"><span>OBSERVACION:</span> {{ item.observacion}}</div>
                      <div mat-line>{{ 'RESPONSABLE: ' + item.usuarioRegistra }}</div>
                      <div mat-line> {{item.fechaCreacion }} </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                </div>
            </mat-tab>
          </mat-tab-group>

          <mat-tab-group mat-align-tabs="start" class="mt-2">
            <mat-tab label="RESPUESTA">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>OBSERVACIONES</mat-label>
                <textarea matInput rows="7" [(ngModel)]="observaciones" ></textarea>
            </mat-form-field>
            <div class="input-group">
              <label class="input-group-text" for="inputGroupFile01">Subir archivo</label>
              <input type="file" class="form-control" id="inputGroupFile01" (change)="seleccionarDocumento($event)" accept="application/pdf">
            </div>

            </mat-tab>
          </mat-tab-group>
          <div class="col-md-12 mt-2" style="text-align: right;">
            <button mat-raised-button color="primary" style="margin-right: 5px;" type="submit" (click)="corregirDocumento()" [disabled]="observaciones==''" >GUARDAR</button>
            <button mat-raised-button color="warn" type="button" >CANCELAR</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


