<mat-card class="full-height-card">
  <mat-card-content class="full-height-content">
    <div class="row m-0 h-100">
      <div class="col-sm-12 col-lg-7 h-100 p-0">
        <iframe
          id="embeddedPage"
          class="w-100 h-100 border-0"
          style="max-height: 100%; object-fit: contain;"
          *ngIf="!errorPDF"
        ></iframe>
        <div class="error-container" *ngIf="errorPDF">
          <i class="fas fa-exclamation-triangle text-danger"></i>
          <strong class="error-text">Error en PDF!</strong>
        </div>
      </div>
      <div class="col-sm-12 mt-sm-3 col-lg-5 d-flex flex-column">
        <mat-card-header>
          <mat-card-title>CORREGIR DOCUMENTO</mat-card-title>
        </mat-card-header>

        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="DATOS DE CORRECION">
            <div class="correction-list">
              <mat-list>
                <div mat-subheader>Correciones registradas</div>
                <mat-list-item *ngFor="let item of correciones" class="mb-2">
                  <i class="far fa-file-archive"></i>
                  <div mat-line><span>OBSERVACION:</span> {{ item.observacion}}</div>
                  <div mat-line>{{ 'RESPONSABLE: ' + item.usuarioRegistra }}</div>
                  <div mat-line> {{item.fechaCreacion }} </div>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
            </div>
          </mat-tab>
        </mat-tab-group>

        <form >
          <mat-tab-group mat-align-tabs="start" class="mt-2">
            <mat-tab label="RESPUESTA">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>OBSERVACIONES</mat-label>
                <textarea matInput rows="4" [(ngModel)]="observaciones"></textarea>
              </mat-form-field>
              <!-- <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Subir archivo</label>
                <input type="file" class="form-control" id="inputGroupFile01"
                       (change)="seleccionarDocumento($event)" accept="application/pdf">
              </div> -->
              <div class="wrapper" >
                <mat-label>DOCUMENTO
                  <span *ngIf="selectedFiles == null || selectedFiles == ''">
                    <i class="fas fa-info-circle" style="font-size: 14px; color: #ea5d5d" ></i>
                  </span>
                </mat-label>
                <div class="form">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <p>Examinar para cargar archivo</p>
                    <input type="file"
                      id="documentoPrincipal"
                      (change)="seleccionarDocumento($event)"
                      accept="application/pdf" />

                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <div class="actions-container">
            <button mat-raised-button color="primary"
                    [disabled]="observaciones==''" >GUARDAR</button>
            <button mat-raised-button color="warn">CANCELAR</button>
          </div>
        </form>

      </div>
    </div>
  </mat-card-content>
</mat-card>
