
<mat-card >
  <mat-card-content >
    <div class="row" >
      <div class="col-sm-12 col-lg-7 min-vh-100"  >
        <iframe id="embeddedPage" style="width: 100%; height: 100%" *ngIf="!errorPDF" ></iframe>
        <div  style="width: 100%; height: 100%; border: 1px solid black;
              border-radius: 5px; align-items: center; align-content: center;
              text-align: center; " *ngIf="errorPDF">
        <i class="fas fa-exclamation-triangle" style="color: red;" ></i>
        <strong style="font-size: 12px;"> Error en PDF!</strong>
      </div>
      </div>
      <div class="col-sm-12 col-lg-5" >
        <mat-card-header>
          <mat-card-title>CORREGIR DOCUMENTO </mat-card-title>
        </mat-card-header>
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="DATOS DE CORRECION">
                <div class="col-12">
                  <mat-list>
                    <div mat-subheader>Correciones registradas</div>
                    <mat-list-item *ngFor="let item of correciones" class="mb-2" >
                      <div mat-line style="white-space: normal; word-wrap: break-word;"><span class="font-bold">OBSERVACION:</span> {{ item.observacion}}</div>
                      <div mat-line>{{ 'RESPONSABLE: ' + item.usuarioRegistra }}</div>
                    </mat-list-item>
                  </mat-list>

                </div>
                <div class="col-12">
                  <mat-tab-group mat-align-tabs="start" class="mt-2">
                    <mat-tab label="SUBSANACIÓN DOCUMENTO">
                      <form [formGroup]="formCorregir" (ngSubmit)="corregirDocumento()">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>OBSERVACIONES</mat-label>
                          <textarea matInput rows="7" formControlName="observaciones"></textarea>
                          <mat-error *ngIf="formCorregir.get('observaciones')?.touched && formCorregir.get('observaciones')?.invalid">
                            Observación requerida
                          </mat-error>
                        </mat-form-field>

                        <div class="input-group">
                          <label class="input-group-text" for="inputGroupFile01">Subir archivo</label>
                          <input type="file"
                                class="form-control"
                                id="inputGroupFile01"
                                (change)="seleccionarDocumento($event)"
                                accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                        </div>
                        <div *ngIf="formCorregir.get('archivo')?.touched && formCorregir.get('archivo')?.invalid" class="text-danger">
                          Archivo requerido
                        </div>

                        <div class="col-md-12 mt-2" style="text-align: right;">
                          <button mat-raised-button color="primary" type="submit" [disabled]="formCorregir.invalid">GUARDAR</button>
                          <button mat-raised-button color="warn" type="button" routerLink="/principal/documentos-corregir">CANCELAR</button>
                        </div>
                      </form>
                    </mat-tab>
                  </mat-tab-group>
                </div>
            </mat-tab>
            <mat-tab label="ENVIAR A CORREGIR" *ngIf="(decreto.vidReferencia != '' && decreto.vidReferencia != null) ">
              <form [formGroup]="formEnviar" (ngSubmit)="enviarACorregir()">
                <mat-form-field class="example-full-width mt-2" appearance="fill">
                  <mat-label>OBSERVACIONES</mat-label>
                  <textarea matInput rows="7" formControlName="observacionesEnviar"></textarea>
                  <mat-error *ngIf="formEnviar.get('observacionesEnviar')?.touched && formEnviar.get('observacionesEnviar')?.invalid">
                    Observación requerida
                  </mat-error>
                </mat-form-field>

                <div class="mt-2" style="text-align: right;">
                  <button mat-raised-button color="primary" type="submit" [disabled]="formEnviar.invalid">ENVIAR</button>
                </div>
              </form>
            </mat-tab>
          </mat-tab-group>

          
          
      </div>
    </div>
  </mat-card-content>
</mat-card>


