<div class="container loader" *ngIf="cargando"></div>
<div class="row" style="margin-left: 5px;" *ngIf="!cargando">
  <div class="col-md-12 mb-2">
    <div id="sample">
      <div style="margin-bottom: 4px">
        <p>
          <button id="zoomToFit" class="btn btn-warning btn-sm waves-effect waves-light br-5" style="margin-left: 5px">
            Reajustar
          </button>
          <button class="btn btn-warning btn-sm waves-effect waves-light br-5" id="centerRoot" style="margin-left: 5px">
            Centrar
          </button
          >
          <!-- <button class="btn btn-success btn-sm waves-effect waves-light br-5" (click)="exportarDiagramaPNG()"  style="margin-left: 5px">
            Exportar Diagrama PNG
          </button> -->
        </p>

        <div id="myInspector" class="inspector" style="display: none">
          <table>
            <tbody>
              <tr>
                <td>key</td>
                <td><input type="undefined" tabindex="0" disabled="" /></td>
              </tr>
              <tr>
                <td>comments</td>
                <td><input type="undefined" tabindex="1" /></td>
              </tr>
              <tr>
                <td>name</td>
                <td><input tabindex="2" /></td>
              </tr>
              <tr>
                <td>title</td>
                <td><input tabindex="3" /></td>
              </tr>
              <tr>
                <td>parent</td>
                <td><input tabindex="4" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="myDiagramDivContent"></div>
    </div>
  </div>
</div>


