/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '@angular/cdk/overlay-prebuilt.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f4f7fa;

}

.example-full-width {
  width: 100%;
}


table {
  width: 100%;
}

.mat-header-row
{
  text-transform: uppercase;
  align-items: center;
  font-weight: 600;  
}
table th {
  text-align: center;
  align-content: center;
}

.btn-opcion{
  width: 250px;
  height: 60px;
  margin-left: 5px;
  size: 20px;
}

.title-form{
  align-items: center;
  place-content: center;
  color: #675b45;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2px;
}


