/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f4f7fa;

}

.example-full-width {
  width: 100%;
}

.permanent-marker-regular {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

table {
  width: 100%;
}



.mat-header-row
{
  text-transform: uppercase;
  align-items: center;
  font-weight: 400;

}
table th {
  text-align: center;
  align-content: center;
  font-weight: 600;
}

.btn-opcion{
  width: 250px;
  height: 60px;
  margin-left: 5px;
  size: 20px;
}

.title-form{
  align-items: left;
  place-content: left;
  color: black;
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 8px;
  margin-left: -5px;
}


.loader ,.loader::before,.loader::after {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  animation: rotate 5s linear infinite;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  position: relative;
  width: 120px;
  height: 120px;
  border-color: #5a4ff3;
}

.loader::before,.loader::after {
  position: absolute;
  content: "";
}

.loader::before {
  border-color: #35a2d2;
  width: 110%;
  height: 110%;
  animation-delay: .5s
}

.loader::after {
  border-color: #9c40fc;
  width: 120%;
  height: 120%;
  animation-delay: .10s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}
