.mat-column-Nro{
    width: 10px;
    text-align: center;
    font-weight: 500;
  }

  .mat-column-Asunto {
    font-size: 14px;
  }




::ng-deep .mat-cell {
  padding: 10px !important;
}

::ng-deep .mat-header-cell {
  padding: 10px !important;
}