h1{
    color: #495057;
    margin-top: 5px;
}
.widget-container {
    width:  99%;
    display: flex;
    align-items: space-between;
    cursor: pointer;
    .widget {
      height: 90px;
      background-color: #fff;
      color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      display: flex;
      align-items: center;
      padding: 20px;
      &.green {
        background-color: #0acc95;
      }
      &.yellow {
        background-color: #CA7842;
      }
      &.red {
        background-color: #ef5350;
      }
      &.blue {
        background-color: #186dde;
      }
      @media only screen and (max-width: 1600px) {
        width: 100%;
      }
      @media only screen and (max-width: 1500px) {
        width: 100%;
      }
      @media only screen and (max-width: 1400px) {
        width: 100%;
      }
      @media only screen and (max-width: 1200px) {
        width: 100%;
      }
      @media only screen and (max-width: 2646px) {
        width: 100%;
      }

      .icon {
        width: 100px;
        font-size: 45px;
        text-align: center;
        @media only screen and (max-width: 1200px) {
          font-size: 45px;
        }
      }
      .value {
        text-align: center;
        width: 170px;
        .top {
          font-size: 20px;
          @media only screen and (max-width: 1200px) {
            font-size: 26px;
          }
        }
        .bottom {
          font-size: 20px;
          margin-top: 10px;
          @media only screen and (max-width: 1200px) {
            font-size: 16px;
          }
        }
      }
    }
  }



  .widget:hover {
    transform: scale(1.1);
    transition: all 350ms ease-in-out;
  }
