
<div class="container loader" *ngIf="cargando"></div>
<div class="widget-container " style="cursor: pointer;"
  *ngIf="!cargando && (codigoRol=='000' || codigoRol=='002')">
    <div class="widget green" (click)="viewRemitidos()">
      <div class="icon">
        <i class="fas fa-upload"></i>
      </div>
      <div class="value">
        <div class="top">{{atendidos}}</div>
        <div class="bottom">ATENDIDOS</div>
      </div>
    </div>
    <div class="widget yellow" (click)="viewParteDiario()">
      <div class="icon">
        <i class="fas fa-file-contract"></i>
      </div>
      <div class="value">
        <div class="top">{{parte}}</div>
        <div class="bottom">PARA FIRMAR</div>
      </div>
    </div>
    <div class="widget red" (click)="viewPendientes()">
      <div class="icon">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="value" >
        <div class="top">{{pendientes}}</div>
        <div class="bottom">PENDIENTES</div>
      </div>
    </div>

</div>
<app-pendiente *ngIf="codigoRol=='000' || codigoRol=='002'"></app-pendiente>
<app-recibir *ngIf="codigoRol=='001'"></app-recibir>
<app-esquema *ngIf="codigoRol=='004'"></app-esquema>
