<div class="container loader" *ngIf="cargandoNucleo"></div>
      <div class="row">
        <mat-card class="m-2 col-9" style="border-radius: 10px;">
          <mat-card-content>
            <div  *ngIf="!cargandoNucleo">
              <canvas id="canvas" style="height: 150px;"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="col-2" *ngIf="!cargandoNucleo">

          <div class="card">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Pendientes
                <span class="badge text-bg-primary rounded-pill">{{countPendientes}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Por Firmar
                <span class="badge text-bg-primary rounded-pill">{{countFirmar}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Archivados
                <span class="badge text-bg-primary rounded-pill">{{countArchivados}} </span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Remitidos
                <span class="badge text-bg-primary rounded-pill">{{countRemitidos}} </span>
              </li>
            </ul>
          </div>


        </div>
      </div>
      <mat-divider class="m-2"></mat-divider>
      <div class="row">
        <mat-card class="m-2 col-3" style="border-radius: 10px;">
          <mat-card-content>
            <div class="row">
              <ng-select placeholder="LISTA DE NUCLEOS" [virtualScroll]=true [(ngModel)]="nucleoSeleccionado"
              (change)="getChildren()"
                 style="font-size: 14px;" class="example-full-width">
                 <mat-option>SELECCIONE</mat-option>
                 <ng-option *ngFor="let c of nucleos" [value]="c" >{{c.acronimo}}</ng-option>
             </ng-select>

             <ng-select placeholder="LISTA DE BRIGADAS" [virtualScroll]=true
                 style="font-size: 14px;" class="example-full-width" [(ngModel)]="brigadaSeleccionada"
                 (change)="getUnidad()">
                 <mat-option>SELECCIONE</mat-option>
                 <ng-option *ngFor="let c of brigadas" [value]="c" >{{c.acronimo}}</ng-option>
             </ng-select>

             <ng-select placeholder="LISTA DE UNIDADES" [virtualScroll]=true
                 style="font-size: 14px;" class="example-full-width" [(ngModel)]="unidadSeleccionada"
                 (change)="mostrarDetalle()">
                 <mat-option>SELECCIONE</mat-option>
                 <ng-option *ngFor="let c of unidades" [value]="c" >{{c.acronimo}}</ng-option>
             </ng-select>
             <button mat-flat-button color="primary" class="example-full-width" (click)="mostrarDetalle()" >
               <i class="fas fa-search"></i> BUSCAR
              </button>
              <button mat-flat-button
                  style="background: rgba(25, 135, 84); color: #fff; margin-top: 5px; height: 100%;"
                  class="example-full-width" (click)="exportSuperAdm()" >
                <i class="fas fa-file-excel"></i> EXPORTAR A EXCEL
              </button>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="m-2 col-8 vh-90" style="border-radius: 10px;" *ngIf="mostrarDetalleGrafica">
          <mat-card-content>
            <div *ngIf="!documentoBandejaBySuperAdm">
              <canvas id="canvasHorizontal" class="w-100 vh-90"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
